.player
  display: flex
  align-items: center
  background-color: #52321e
  width: 300px
  border-top-left-radius: 60px
  border-bottom-left-radius: 60px
  padding: 2px
  img
    width: 60px
    height: 60px
    object-fit: contain
    border-radius: 100%
    border: 6px solid #3b575e
  span
    font-size: 2rem
    margin-left: 20px
    color: #a9a7a5