<div class="start-screen">
  <div class="start-screen__content">
    <div>
      <h1>Ring </h1>
      <h1 class="of">of</h1>
      <h1> Fire</h1>
      <div class="start_label">
        <div class="start_label_text">
          <span (click)="newGame()">Start Game</span>
        </div>
      </div>
      <div class="start_label_box">
        <div class="start_label_img" id="start">
          <img src="./assets/imgs/gold-153031_640.png" alt="">
        </div>
      </div>
      
    </div>
  </div>
  
</div>
