<!-- <app-player
  *ngFor="let player of game?.players; let i = index"
  [ngStyle]="{ 'top.px': 80 + i * 60 }"
  [name]="player.name"
  [active]="i === game?.currentPlayer"
  [picture]="player.picture"
  class="player-banner"
></app-player> -->

@for (player of game?.players; track $index) {
  <app-player
    [ngStyle]="{ 'top.px': 80 + $index * 60 }"
    [name]="player.name"
    [active]="$index === game?.currentPlayer"
    [picture]="player.picture"
    class="player-banner"
  ></app-player>
}

<div class="field">
  <div class="card-stack">
    @for (card of [0, 1, 2, 3]; track $index) {
      <img src="./assets/cards/card_cover.png" [ngStyle]="{ 'right.px': $index * 5 }" alt="">
    }
    <!-- <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let card of [0, 1, 2, 3]; let i = index"
      src="./assets/cards/card_cover.png"
      alt=""
    /> -->
    <img
      (click)="takeCard()"
      style="right: 25px"
      class="top-card"
      src="./assets/cards/card_cover.png"
      alt=""
    />
    @for (card of game?.playedCards; track $index) {
      <img
        class="played-card"
        src="./assets/cards/{{ card }}.png"
        alt=""
      />

    }
    <!-- <img
      *ngFor="let card of game?.playedCards"
      class="played-card"
      src="./assets/cards/{{ card }}.png"
      alt=""
    /> -->
    @if (game?.pickCardAnimation) {
      <img
      (click)="takeCard()"
      style="right: 25px"
      class="top-card pick-card"
      src="./assets/cards/{{ game?.currentCard }}.png"
      alt=""
    />
    }
    
  </div>
</div>

<app-game-info [card]="game?.currentCard" class="game-info"></app-game-info>

<button mat-fab color="secondary" class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
