.field 
  width: 100vw
  height: 100vh
  max-width: 100%
  background-image: url('./../../assets/imgs/wall-1846965_1280.jpg')
  background-repeat: no-repeat
  background-size: 100%
  background-position: center
  display: flex
  align-items: center
  justify-content: center

.card-stack
  position: relative
  img
    position: absolute
    width: 160px

.top-card
  cursor: pointer
  transition: all 200ms ease-in-out
  &:hover
    transform: scale(1.025) translateY(-5px)

.pick-card
  transition: all 200ms ease-in-out
  animation: pick-card-animation 1s ease-in-out forwards

@keyframes pick-card-animation
  0%
    transform: scale(1)
  30%
    transform: scale(1.5)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1.1) translateX(180px) translateY(-250px) rotate(-10deg)